<!DOCTYPE html>
<html lang="en">
	<header>
		<title>Pacino</title>
		<%= css_inc_tag '/assets/css/reset.css' %>
		<%= css_inc_tag '/assets/css/master.css' %>
	</header>
	<body>
		<div id="wrapper">
			<header id="header">
				<h1>Pacino</h1>
			</header>
			<section id="page">
				<%= yield %>
			</section>
			<footer id="footer">
				Powered by Pacino <%= Pacino::VERSION %>
			</footer>
		</div>
	</body>
</html>